ul {
   font-size: 16px;
   font-family: 'Roboto-Condensed', sans-serif;
   font-variant: normal;
   text-align: center;
   font-weight: bold;
   color: #000000;
   padding-bottom: 25px;
   padding-top: 25px;
   padding-left: 55px;
   background-color: transparent;
   text-decoration: none;
}

nav > ul > li {
   text-align: center;
   padding-left: 25px;
   padding-right: 25px;
   height: var(--height--nav);
   line-height: var(--height--nav);
   display: inline-block;
}

a {
   color: #000000;
}
a:hover {
   color: #FFC0CB;
}

a:active {
    color: #000000;
    text-decoration: none;
}

a {
   text-decoration: none;
}


#container img{
   width: 100vw;
}


#container div{
    position: absolute;
    color: #FFFFFF;
    margin-top: 800px;
    margin-left: 55px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-style: oblique;
    border-radius: 3px;
    border: 1px;

}
#container1 div{
    position: absolute;
    color: #FFFFFF;
    margin-top: 900px;
    margin-left: 55px;
    font-family: 'Roboto-Condensed', sans-serif;
    font-style: oblique;
}

#container2 div{
    position: absolute;
    color: #FFFFFF;
    margin-top: 800px;
   margin-left: 55px;
    font-family: 'Roboto-Condensed', sans-serif;
    font-style: oblique;
}

#container3 div{
    position: absolute;
    color: #FFFFFF;
    margin-top: 850px;
   margin-left: 55px;
    font-family: 'Roboto-Condensed', sans-serif;
    font-style: oblique;
}

#horror0 {
   background-color: #000000;
}


#horror1 {
   background-color: #000000;
}

#horror2 {
   background-color: #000000;
}

#horror3 {
   background-color: #000000;
}

#horror4 {
   background-color: #000000;
}

#horror5 {
   background-color: #000000;
}

#horror1 {
   color: #000000;
   width: 100vw;
   font-family: 'Roboto-Condensed', sans-serif;
   font-weight: 300;
   padding-right: 55px;
   padding-bottom: 20px;
   float: right;
}


#horror {
   padding: 0;
   width: 100vw;
   max-width: 100%;
}

.horror video {
   display: inline-block;
}

#horror2 img {
   width: 100vw;
   max-width: 100%;
}

#horror3 img {
   width: 100vw;
   max-width: 100%;
}

}
#horror4 img {
   width: 50vw;
   max-width: 100%;
}
#horror5{
   height: 69vw;
}

#horror5 >video {
   height: 69vw;
   width: auto
}

#horror5 div {
   width: 60vw;
    margin-left: -1vw;
   display: inline-block;
}

#horror5 {
   background-color: #000000;
}

#horror5 div video {
   height: 34.5vw;
   display: block;
}

#horror6 video{
   width: 49.5vw;
}

#horror6 {
   background-color: #000000;
}

h3 {
   font-family: 'Abril Fatface', cursive;
   color: #000000;
   font-size: 45px;
   padding-left: 55px;
   padding-top: 25px;
}

p {
   color: #000000;
   font-size: 18px;
   padding-left: 60px;
   padding-top: 75px;
   padding-right: 6px;
   padding-bottom: 100px;
   float: left;
   width: 40%;
   line-height: normal;
   #FFFFFF-space: pre-line;
   font-family: 'Roboto-Condensed', sans-serif;
   font-weight: 300;
}

#about1 img {
   float: right;
   width: 50%;
   padding-top: 10px;
   padding-bottom: 220px;
   display: inline-block;
   padding-right: 20px;
}

h3 {
   font-family: 'Abril Fatface', cursive;
   font-size: 50px;
   padding-left: 60px;
   padding-top: 65px;
   padding-bottom: 43px;
}


h1 {
   font-family: 'Abril Fatface', cursive;
   font-size: 50px;
   padding-left: 60px;
   padding-top: 77px;
   margin-top: 70px;
}

h5 {
   font-family: 'Abril Fatface', cursive;
   font-size: 16px;
   padding-left: 65px;
   padding-top: 55px;
}

h2 {
   padding-left: 65px;
   padding-top: 25px;
   padding-bottom: 35px;
   font-family: 'Roboto-Condensed', sans-serif;
   font-size: 16px;
   font-weight: 300;

}

h6 {
   padding-left: 65px;
   padding-top: 25px;
   padding-bottom: 35px;
   font-family: 'Roboto-Condensed', sans-serif;
   font-weight: 300;
   font-size: 14px;
}

#contact1 {
   padding-right: 100px;
   padding-bottom: 35px;
   padding-top: -370px;
   padding-left: 20px;
   margin-top: 300px;

}

#contact1 div{
   padding-right: 100px;
   padding-bottom: 55px;
   list-style: none;
   line-height: 25px;

}

#contact li{
   text-decoration: none;
   list-style: none;
}

#contact2 img{
   padding-right: 50px;
   width: 50%;
   margin-left: 535px;
   margin-top: -850px;
   margin-bottom: 70px;
   text-align: right;
}


#paintings1 img{
   width: 100vw;
}

#paintings2 img{
   width: 100vw;
}

#paintings3 img{
   width: 50vw;
   display: inline-block;
}

#paintings4 img{
   width: 50vw;
}

#paintings5 img{
   width: 100vw;
}

#paintings6 img{
   width: 100vw;
}

#paintings7 img{
   width: 100vw;
}

#paintings8 img{
   width: 100vw;
}
#paintings1 div{
   position: absolute;
   color: #000000;
   margin-top: -130px;
   margin-left: 80px;
   font-family: 'Roboto-Condensed', sans-serif;
   font-weight: 300;
   font-style: oblique;
}

#paintings2 div{
   position: absolute;
   color: #FFFFFF;
   margin-top: -150px;
   margin-left: 80px;
   font-family: 'Roboto-Condensed', sans-serif;
   font-weight: 300;
   font-style: oblique;
}

#paintings3 div{
   position: absolute;
   color: #FFFFFF;
   margin-top: -150px;
   margin-left: 80px;
   font-family: 'Roboto-Condensed', sans-serif;
   font-weight: 300;
   font-style: oblique;
}

#paintings4 div{
   position: absolute;
   color: #FFFFFF;
   margin-top: -150px;
   margin-left: 80px;
   font-family: 'Roboto-Condensed', sans-serif;
   font-weight: 300;
   font-style: oblique;
}

#paintings5 div{
   position: absolute;
   color: #FFFFFF;
   margin-top: -150px;
   margin-left: 80px;
   font-family: 'Roboto-Condensed', sans-serif;
   font-weight: 300;
   font-style: oblique;
}

#paintings6 div{
   position: absolute;
   color: #FFFFFF;
   margin-top: -150px;
   margin-left: 80px;
   font-family: 'Roboto-Condensed', sans-serif;
   font-weight: 300;
   font-style: oblique;
}

#paintings7 div{
   position: absolute;
   color: #FFFFFF;
   margin-top: -150px;
   margin-left: 80px;
   font-family: 'Roboto-Condensed', sans-serif;
   font-weight: 300;
   font-style: oblique;
}

#paintings8 div{
   position: absolute;
   color: #000000;
   margin-top: -150px;
   margin-left: 80px;
   font-family: 'Roboto-Condensed', sans-serif;
   font-weight: 300;
   font-style: oblique;
}
#drawings1 img{
   width: 100vw;
}

#drawings2 img{
   width: 33.33vw;
}

#drawings3 img{
   width: 100vw;
}

#drawings4 img{
   width: 100vw;
}

#drawings5 img{
   width: 100vw;
}

#drawings6 img{
   width: 100vw;
}

#editorial1 img {
   width: 100vw;
   padding-top: 35px;
}

#editorial2 img {
   width: 50vw;
}

#drawings1 div{
   position: absolute;
   color: #000000;
   margin-top: -175px;
   margin-left: 85px;
   font-family: 'Roboto-Condensed', sans-serif;
   font-weight: 300;
   font-style: oblique;
}

#drawings2 div{
   position: absolute;
   color: #000000;
   margin-top: -105px;
   margin-left: 85px;
   font-family: 'Roboto-Condensed', sans-serif;
   font-weight: 300;
   font-style: oblique;
}

#drawings3 div{
   position: absolute;
   color: #FFFFFF;
   margin-top: -150px;
   margin-left: 85px;
   font-family: 'Roboto-Condensed', sans-serif;
   font-weight: 300;
   font-style: oblique;
}

#drawings4 div{
   position: absolute;
   color: #000000;
   margin-top: -150px;
   margin-left: 85px;
   font-family: 'Roboto-Condensed', sans-serif;
   font-weight: 300;
   font-style: oblique;
}

#drawings5 div{
   position: absolute;
   color: #000000;
   margin-top: -150px;
   margin-left: 85px;
   font-family: 'Roboto-Condensed', sans-serif;
   font-style: oblique;
}

#drawings6 div{
   position: absolute;
   color: #000000;
   margin-top: -150px;
   margin-left: 85px;
   font-family: 'Roboto-Condensed', sans-serif;
   font-weight: 300;
   font-style: oblique;
}

h4 {
   font-family: 'Abril Fatface', cursive;
   font-size: 70px;
   padding-left: 60px;
   padding-top: 45px;
}

.fa, .fas {
    font-weight: 900;
    font-size: 50px;
}

.fa-angle-up:before {
   content: "\f106";
   padding-left: 1285px;
   margin-top: -1450px;
   padding-top: -950px;
}

.topbtn {
    position: fixed;
    bottom: 76px;
   z-index: 1;
   right: 50px;
}

#caption2 {
   position: absolute;
   color: black;
   margin-left: 1040px;
   margin-top: -160px;
   font-family: 'Roboto-Condensed', sans-serif;
   font-style: oblique;
   font-size: 14px;
}
