ul {
   font-size: 25px;
   font-family: 'Roboto-Condensed', sans-serif;
   font-variant: normal;
   font-weight: bold;
   color: black;
   text-decoration: none;
   position: absolute;
   white-space: pre-line;
   top: 85px;
   left: 75px;
   text-align: left;
}

nav > ul > li {
   text-align: left;
   width: 140px;
   height: var(--height--nav);
   line-height: var(--height--nav);
   display: inline-block;
}

a {
   color: black;
}

a:hover {
   color: #FFC0CB;
}

a:active {
   color: black;
   text-decoration: none;
}

a {
   text-decoration: none;
}

li {
   margin-top: 60px;
}

#container img {
   width: 100vw;
}

#caption1 {
   position: absolute;
   color: black;
   margin-left: 1240px;
   margin-top: -50px;
   font-family: 'Roboto-Condensed', sans-serif;
   font-style: oblique;
   font-size: 14px;
}

#caption2 {
   position: absolute;
   color: black;
   margin-left: 1240px;
   margin-top: -50px;
   font-family: 'Roboto-Condensed', sans-serif;
   font-style: oblique;
   font-size: 14px;
}
